<!DOCTYPE html>
<html>
<head>
	<title>Loktra resume building website</title>
	<link rel="stylesheet" type="text/css" href="styles/Resume.css">
</head>
<body ng-app="CVMaker">
	<main ng-controller="CVMakerController">
		<header>
			<div class="Logo"></div>
			<span class="LogoText">Online CV</span>
			<div class="Downloads">
				<span class="DownloadedNo">1000 Downoads</span>
				<span class="SavedNo">2400 Saved</span>
			</div>
			
		</header>
		<div id="slider">
			<figure>
				<img src="./images/slider1.jpg" alt>
				<img src="./images/slider2.jpg" alt>
				<img src="./images/slider3.jpg" alt>
				<img src="./images/slider4.jpg" alt>
				<img src="./images/slider5.jpg" alt>
			</figure>
		</div>
		<section>
			<div class="GroupContainer">
				<span class="GroupHeader">Experience</span>
				<span class="AddSkillsButton" ng-click="handleAddSkillClick($event)" data-skillType="Experience"></span>
				<div class="SkillSetContainer">
					<div ng-hide="cvData.Experience.isEmpty">
						<div class="ExperienceData" ng-repeat="data in cvData.Experience.data">
							<img src={{data.companyLogo}}>
							<div class="SkillSetData">
								<p class="Designation">{{data.designation}}</p>
								<p class="CompanyName">{{data.company}}</p>
								<p class="WorkingPeriod">From {{data.from}} to {{data.to}}</p>
							</div>
						</div>
					</div>
					<span ng-show="cvData.Experience.isEmpty">No Data Available</span>
				</div>
			</div>

			<div class="GroupContainer">
				<span class="GroupHeader">Education</span>
				<span class="AddSkillsButton" ng-click="handleAddSkillClick($event)" data-skillType="Education"></span>
				<div class="SkillSetContainer">
					<div ng-hide="cvData.Education.isEmpty">
						<div class="ExperienceData" ng-repeat="data in cvData.Education.data">
							<img src={{data.collegeLogo}}>
							<div class="SkillSetData">
								<p class="CollegeName">{{data.college}}</p>
								<p class="Degree">{{data.degree}} in {{data.stream}}</p>
								<p class="DegreePeriod">From {{data.from}} to {{data.to}}</p>
							</div>
						</div>
					</div>
					<span ng-show="cvData.Experience.isEmpty">No Data Available</span>
				</div>
			</div>
		</section>
		<footer></footer>
	</main>
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="scripts/Resume.js"></script>
</body>
</html>